@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#content {
  display: grid;
  grid-template-rows: 80px 1fr 50px;
  height: 100vh;
}

.header {
  background-color: rgb(112, 151, 117);
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  text-align: center;
  line-height: 80px;
}

.background {
  background-color: rgb(161, 204, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabs {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: 1.8rem;
  font-family: 'Dancing Script', cursive;
  cursor: pointer;
  padding: 0px;
  margin-top: 20px;
}

li {
  background-color: rgb(143, 185, 150);
  width: 130px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.active-li {
  background-color: rgb(112, 151, 117);
}

li:hover {
  background-color: rgb(112, 151, 117);
}

.content {
  background-color: rgb(143, 185, 150);
  width: 600px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 50px;
  text-align: center;
  padding: 0px 15px 0px 15px;
}

.footer {
  background-color: rgb(112, 151, 117);
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  line-height: 50px;
}

.bob-chef {
  height: 300px;
  margin: 15px 0px 15px 0px;
  border-radius: 10%;
}

h2 {
  font-family: 'Dancing Script', cursive;
  margin: 25px 0px 5px 0px;
}

div {
  font-family: 'Playfair Display', serif;
  text-align: justify;
}